body {
  margin: 0;
  background: hsl(210, 5%, 98%);
  /* background: linear-gradient(180deg, hsl(220, 50%, 50%), rgb(255, 255, 255)); */
  /* display: flex; */
  font-family: "Space Mono", "Courier New", Courier, monospace;
  height: 100vh;
  width: 100vw;
  /* justify-content: center; */
  /* align-items: center; */
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
} */

[data-theme="dark"],
[data-theme="dark"] body {
  background: hsl(210, 50%, 10%);
}

/* @media (prefers-color-scheme: dark) {
  [data-amplify-color-mode="system"] {
    --amplify-colors-background-primary: hsl(210, 50%, 10%);
  }
}

[data-amplify-color-mode="dark"] {
  --amplify-colors-background-primary: hsl(210, 50%, 10%);
} */

a {
  font-weight: 800;
  text-decoration: none;
}

[data-amplify-authenticator][data-variation="modal"] {
  overflow-y: auto;
  width: var(--amplify-components-authenticator-modal-width);
  height: var(--amplify-components-authenticator-modal-height);
  background-color: var(
    --amplify-components-authenticator-modal-background-color
  );
  position: fixed;
  top: var(--amplify-components-authenticator-modal-top);
  left: var(--amplify-components-authenticator-modal-left);
  z-index: 5;
}
